<!-- Bootstrap core CSS     -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
<!-- Animation library for notifications   -->
<link href="assets/css/animate.min.css" rel="stylesheet"/>

<!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script>if (typeof module === 'object') {window.jQuery = window.$ = module.exports;};</script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/child.js"></script>
<script src="assets/js/vue.min.js"></script>

<div id="main" style="padding: 0.5em;width: 100%;">
    <div class="btn-group">
        <button type="button" @click.prevent="save" class="btn btn-default">保存</button>
    </div>
    <div class="form-group">
        <label>预处理函数</label>
        <textarea class="form-control" style="min-width: 100%;max-width: 100%;height: calc(100% - 90px);" v-model="dear" cols="30" rows="10"></textarea>
    </div>
</div>

<script>
    var vm = new Vue({
        el : "#main",
        data : {
            dear : ""
        },
        methods : {
            save : function () {
                eventManager.run(eventManager.events.file.savePreivewDear,function (ret) {
                    if (ret[0]) {
                        notify("","保存失败");
                    } else {
                        notify("","保存成功");
                    }
                }.bind(this),this.dear,"error");
            }
        },
        mounted : function () {
            eventManager.run(eventManager.events.file.fetchPreviewDear,function (ret) {
                if (ret[0]) {
                    notify("","获取失败");
                } else {
                    this.dear = ret[1];
                }
            }.bind(this));
        }
    })
</script>
